<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.hp1020.ipp-advertise</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Printers/hp/laserjet/hp1020/advertise-ipp.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/var/log/hp1020-ipp-advertise.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/hp1020-ipp-advertise.log</string>
</dict>
</plist>
